<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  </head>

    <body>
      <h1>Bloggy McBlogface</h1>

      <form method="post">
        <label>
          <div>Title</div>
          <input type="text" name="title" value="{{title}}">
        </label>

        <label>
          <div>Blog Entry</div>
          <textarea name="blog_entry">{{blog_entry}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
    </body>
</html>
