<!DOCTYPE html>

<html>
  <head>
    <title></title>
  </head>

    <body>
      <h1>Bloggy McBlogface</h1>

      <form method="post">
        <label>
          <div>Title</div>
          <input type="text" name="title" value="{{title}}">
        </label>

        <label>
          <div>Blog Entry</div>
          <textarea name="blog_entry"></textarea>
        </label>

      {% for blog in blogs %}
          <div class="blog-post">
            <div class="blog-title">{{blog.title}}</div>
            <pre class="blog-body">{{blog.blog_entry}}</pre>
      {% endfor %}
    </body>
</html>
