<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="styles.css" />-->
  </head>

    <body>
      <h1>Bloggy McBlogface</h1>

      {% for blog in blogs %}
          <div class="blog-post">
            <div class="created">{{blog.created}}</div>
            <div class="blog-title">{{blog.title}}</div>
            <pre class="blog-body">{{blog.blog_entry}}</pre>
            <a href="/blog/{{blog.key().id()}}">Link</a>
      {% endfor %}

      <form method="post">
        <a href="/newpost">Submit a new post</a>
      </form>
    </body>
</html>
