<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
  </head>

    <body>
      <h1>Bloggy McBlogface</h1>

      {% for blog in blogs %}
          <div class="blog-post">
            <!--<div class="created">{{blog.created}}</div>-->
            <a href="/blog/{{blog.key().id()}}">
              <div class="blog-title">{{blog.title}}</div>
            </a>
            <pre class="blog-body">{{blog.blog_entry}}</pre>
      {% endfor %}

      <form method="post">
        <a href="/newpost">Submit a new post</a>
      </form>
    </body>
</html>
